//COLORS
$color_primary:#fdb812;
$color_secondary:#333333;

//FONT FAMILY
$font_primary:'Roboto', sans-serif;
$font_title:'Roboto Slab', sans-serif;

//FONT COLOR
$font_color_primary:#333333;
//$font_color_dark_primary:#d6d4cf;
$font_color_dark_primary:#bab8b5;
//FONT SIZE
$font_size_primary:16px;
$font_size_section_title:50px;
$font_size_footer_title:1.25rem;


//BG-COLOR BUTTON
$btn_primary_color:$color_primary;
$hover_btn_primary_color:$color_secondary;


//BG-COLOR
$bg_light:rgba(208,216,234,.25);
$bg_dark:#202224;
$bg_dark_2:#2a2c2f;
$bg_blue:#2474b9;

//BG COLOR FOOTER
$bg_footer:#262626;
$bg_yellow_gradient:radial-gradient(#ffa400, #ff7802);


//FONT WEIGHT
$font_weight_regular:400;
$font_weight_light:300;
$font_weight_medium:500;
$font_weight_bold:600;